* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  color: initial;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}

main {
  color: #fff;
  padding: 60px initial;
  background-color: #343333;
}
