* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  color: initial;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
}

main {
  color: #131313;
  padding: 0.67em initial;
  background-color: #e4e6ec;
}

.title-1 {
  font-size: 75px;
}
