@use "../partials/mixin";
@use "../partials/color";

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: color.$solitude;
}

a {
  color: initial;
}

.container {
  margin: 0 auto;
  max-width: 1300px;
  padding: initial 10px;
}

main {
  color: color.$seal-brown;
  margin-bottom: 100px;
}

h1 {
  // font-size: 75px;
  @include mixin.adaptiv-font(75, 24);
}
